.primary-color {
  color: #43afe3;
}

.secondary-color {
  color: #f4e0e2;
  color: #1b9c8b;
  color: #63809e;
  color: #27578f;
  color: orange;
  color: orangered;
}

/* 
border-radius: 4px;
:hover -> background-color: #f4e0e2
transition duration is 0.3s
*/