div {
  color: #27578f;
}

.task-container {
  padding: 0px 10px;
  border: 1px solid #1b9c8b;
  border-radius: 4px;
  margin: 10px 0;
}

.header-row {
  display: flex;
  align-items: center;
}

.task-status {
  margin-right: 10px;
}

.task-name {
  flex-grow: 1;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.task-actions {
  margin-left: auto;
}

.reminder {
  padding-left: 31px;
  margin-bottom: 10px;
}

.task-in-time {
  color: #1b9c8b;
}

.task-overdue {
  color: orange;
  -webkit-animation-name: color-transition;
  -webkit-animation-duration: 2s;
  animation-name: color-transition;
  animation-duration: 2s;
}

@-webkit-keyframes color-transition {
  from {
    color: #1b9c8b;
  }
  to {
    color: orange;
  }
}

/* Standard syntax */
@keyframes color-transition {
  from {
    color: #1b9c8b;
  }
  to {
    color: orange;
  }
}
