body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
}

.btn {
  padding: 5px 10px;
  border: 1px solid #27578f;
  background: #f4e0e2;
  color: #27578f;
  border-radius: 4px;
  font-weight: bold;
  height: 40px;
}

.btn:hover {
  background: #f4e0e2;
  color: #63809e;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #27578f;
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  color: #27578f;
}

input[type="text"]:focus {
  border: 1px solid #1b9c8b;
}

.btn-positive {
  background: #43afe3;
}

.btn-negative {
  background: #63809e;
}

.icon {
  display: inline-block;
  margin: 10px 0 10px 10px;
}

.icon:hover {
  color: #f4e0e2;
  cursor: pointer;
}

a {
  color: #27578f;
}

.page-title {
  text-align: center;
}

fieldset {
  border: 1px solid #27578f;
  border-radius: 4px;
}

fieldset legend {
  padding: 0 10px;
}

select {
  width: 100%;
  height: 40px;
  border: 1px solid #27578f;
  border-radius: 4px;
  padding: 5px 10px;
  box-sizing: border-box;
  outline: none;
  color: #27578f;
}