.time-picker-container{
  margin-top: 10px;
}

.time-picker-container .el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}

.date-time-part {
  margin-top: 10px;
}

.sub-item-title {
  font-weight: bold;
  margin: 10px 0;
}
